{% extends 'greate/base.html' %}
{% load static %}
{% block content %}

{% include 'greate/includes/alerts.html'%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
  <div class="row">
    {% include 'greate/includes/dashboard_side.html'%}
  <main class="col-md-9">
    <article class="card">
    <header class="card-header text-center">
      <strong class="d-inline-block mr-3" style="font-size: 1.5rem;">Change Password</strong>
    </header>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}  
              <div class="form-group">
                <label>Current Password</label>
                <input type="password" name="current_pass" placeholder="Current Password" class="form-control" required>
              </div>
              <div class="form-group">
                <label>New Password</label>
                <input type="password" name="new_pass" placeholder=" Create New Password" class="form-control" required>
              </div>
              <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" name="confirm_new_pass" placeholder=" Confirm New Password" class="form-control" required>
              </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" name="">
          </form>
        </div>
      </div> <!-- row.// -->
    </div> <!-- card-body .// -->
    </article> <!-- order-group.// --> 
  </main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}